body, html {
    height: 100%;
    margin: 0;
}

#map-container {
    height: calc(100vh - 56px);
}

#map {
    width: 100%;
    height: 100%;
}

#alert-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #dc3545;
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    font-size: 1.8rem;
    border: none; 
}

/* Hover & Active Effects */
#alert-btn:hover {
    background-color: rgb(255, 183, 0);
    color: white;
}

#notification-card h5 {
    margin-bottom: 10px;
    text-align: center;
}

#notification-card {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 300px;  /* Adjust the width here */
    max-height: 80vh;  /* Limit the height */
    overflow-y: auto;  /* Enable scrolling if content exceeds max height */
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

#notification-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


#notification-list .close-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 50%;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    position: absolute;
    top: 10px;
    right: 10px;
}

#notification-list .close-btn:hover {
    background-color: darkred;
}

#toast-container {
    position: fixed;
    top: 20px; /* Distance from the top */
    left: 50%;
    transform: translateX(-50%); /* Centers the container horizontally */
    z-index: 1050; /* Ensure it's above other content */
    width: auto;
    max-width: 100%; /* Avoid overflows */
    display: flex;
    flex-direction: column;
    align-items: center;
}

